.App {
  text-align: center;
  background-color: black !important;
  
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.langdrop{
  color: azure;
}
.dropspan{
  display:flex
}

.popupoverlay{
  position: fixed;
  top: 200px;
  left: 478px;
  width: 400px;
  height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  z-index: 10;

  
}
.eventname{
  color: white;
}
 
@media (max-width: 780px) {
  body {
  margin: 0 20px 0 0 0;
} 
}
